html,
body {
  margin: 0;
  padding: 0;

  font-family: GenEiUniverSans-w, SourceHanSans-w, 'Noto Sans SC', sans-serif, -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: var(--fg);
  background: var(--bg);
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "palt";
}

*:lang("ja") {
  font-family: YakuHanJP, GenEiUniverSans-w, SourceHanSans-w, sans-serif, -apple-system;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-feature-settings: "palt";
    font-family: GenEiUniverSans-w, SourceHanSans-w, sans-serif, -apple-system;
  }
}

*:lang("zh") {
  font-family: GenEiUniverSans-w, 'Noto Sans SC', SourceHanSans-w, sans-serif, -apple-system;
}

*:lang("ko") {
  font-family: GenEiUniverSans-w, 'Noto Sans KR', SourceHanSans-w, sans-serif, -apple-system;
}

*:lang("th") {
  font-family: GenEiUniverSans-w, 'Sarabun', SourceHanSans-w, sans-serif, -apple-system;
}

._shadow {
  box-shadow: 0 3px 16px var(--shadow) !important;
}

._noSelect {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

._button {
  appearance: none;
  padding: 0;
  margin: 0; // for Safari
  background: none;
  border: none;
  cursor: pointer;
  color: var(--fg);
  touch-action: manipulation;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;

  &,
  * {
    @extend ._noSelect;
  }

  * {
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

._buttonPrimary {
  @extend ._button;
  color: #fff;
  background: var(--accentDarken);

  &:not(:disabled):hover {
    background: var(--X8);
  }

  &:not(:disabled):active {
    background: var(--X9);
  }
}

._textButton {
  @extend ._button;
  color: var(--accent);
  position: relative;
  z-index: 1;
  display: block;
  min-width: 100px;
  padding: 8px 14px;
  text-align: center;
  box-shadow: none;
  text-decoration: none;
  background: var(--buttonBg);
  color: var(--fg);
  border-radius: 999px;
  overflow: hidden;

  &:not(:disabled):hover {
    color: var(--fgHighlighted);
    background: var(--buttonHoverBg);
    text-decoration: none;
  }
}

._textPrimaryButton {
  @extend ._textButton;
  color: var(--fgHighlighted);
  background: var(--accentDarken);

  &:not(:disabled):hover {
    color: var(--fg);
    background: var(--accent);
    text-decoration: none;
  }
}

._card,
._noGap_ ._list_,
._panel {
  background: var(--panel);
  color: var(--fgPanel);
  border-radius: var(--radius);
  box-shadow: var(--panelShadow);
  overflow: hidden;
}

:root {
  --accent: rgb(126, 168, 0);
  --accentDarken: #739900;
  --accentDarked: rgb(96, 128, 0);
  --accentLighten: rgb(172, 230, 0);
  --focus: rgba(134, 179, 0, 0.3);
  --panel: rgba(45, 45, 45, 0.7);
  --X16: rgba(45, 45, 45, 0.7);
  --bg: rgb(35, 35, 35);
  --panel: rgb(45, 45, 45);
  --panelBorder: rgba(0, 0, 0, 0);
  --panelShadow: 0 8px 24px rgb(0 0 0 / 25%);
  --acrylicBg: rgba(35, 35, 35, 0.5);
  --fg: rgb(199, 209, 216);
  --fgPanel: rgb(211, 220, 227);
  --fgTransparentWeak: rgba(199, 209, 216, 0.75);
  --fgTransparent: rgba(199, 209, 216, 0.5);
  --fgHighlighted: rgb(255, 255, 255);
  --radius: 12px;
  --shadow: rgba(0, 0, 0, 0.3);
  --buttonBg: rgba(255, 255, 255, 0.05);
  --buttonHoverBg: rgba(255, 255, 255, 0.1);
  --divider: rgba(255, 255, 255, 0.14);
}
